<!DOCTYPE html>
<html>
<head>
    <title>{{ category.getName }}</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
</head>
<body>
    <div class='container'>
    <h1><u>Another To Do List</u></h1>
    <h3><em>{{ category.getName }}</em></h3>
    {% if tasks is not empty %}
        <ul>
            {% for task in tasks %}
                <li>{{ task.getDescription }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class='form-group'>
        <form action='/tasks' method='post'>
            <input id='category_id' name='category_id' type='hidden' value="{{ category.getId() }}">
            <input id='description' name='description' class='form-control' style='width:50%' type='text'>
            <button type='submit' class='btn-success btn-m'>Add task</button>
        </form>
    </div>
    <form action='/delete_tasks' method='post'>
        <button type='submit' class='btn btn-xs'>Clear List</button>
    </form>
    <!-- rewrite this function in the app so only the tasks get deleted when using the method from this page. currenlty, all categories are being dropped. -->
    <div class='text-center'>
        <p><a href='/'>Home</a></p>
    </div>
</div>
</body>
</html>
