<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Another To Do List</title>
</head>
<body>
    <div class='container'>
        <h3>All tasks have been cleared from this list</h3>
        <p><a href='/'>start again</a></p>
    </div>
</body>
</html>
