
<html>
<head>
    <title>Another To Do List</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
</head>
<body>
    <div class='container'>
    <h1><u>Another To Do List</u></h1>
    {% if categories is not empty %}
        <h4>Here are all your categories:</h4>
        <ul>
            {% for category in categories %}
                <li><a href="/categories/{{ category.getName }}">{{ category.getName }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no categories yet!</p>
    {% endif %}
    <div class='form-group'>
        <form action="/categories" method="post">
            <input id="name" name="name" class='form-control' style='width:50%' type="text">
            <button type="submit" class='btn-success btn-m'>Add category</button>
        </form>
    </div>
    <br>
    <form action='/delete_category' method='post'>
        <button type='submit' class='btn btn-xs'>Clear</button>
        <p>(Clearing all categories will also clear the database of all tasks in each category)</p>
    </form>
</div>
</body>
</html>
